.card {
  overflow: hidden;
}

.shadow--normal {
  overflow: hidden;
  transition: transform .4s, box-shadow .2s;
  
  &:hover {
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: .8);
    transform: scale(1.02);
  }
}

.shadow--high {
  overflow: hidden;
  transition: transform .4s, animation .2s;
  
  &:hover {
    animation: shadow-cycle 5s infinite;
    transform: scale(1.02);
  }
}
.movie-data {
  position: absolute;
  text-align: center; 
  color: var(--text-100);
  background-color: rgba(7, 26, 40, 0.54);
  bottom: -1.25rem;
  height: 80%;
  width: 100%;
  border-radius: 0.375rem;
  padding: 1rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);

  backdrop-filter: blur(2.5px);
  opacity: 0;
  transition: opacity 0.45s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.card:hover .movie-data {
  opacity: 1;
}
.title {
  grid-column: 1 / -1;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}
.classification,
.category,
.date {
  font-size: 0.75rem;
  font-weight: 500;
}
.classification p { 
  display: inline-block;
  padding: 0.3125rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
}
.description {
  background-color: orange;
  grid-column: 1 / -1;
  grid-row: 4 / -1;
}
.trailer {
  grid-row: 3 / span 2;
  grid-column: 1 / -1;
  @include flex-center;
  flex-direction: column;
  font-size: 0.9375rem;
  font-weight: 600;
}
.rating {
  position: absolute;
  bottom: 0;
  right: 0;
  @include flex-center;
  width: 6rem;
  height: 2.1875rem;
  background-color: rgba(119, 119, 119, 0.5);
  color: #fff;

  div {
    font-size: 1.125rem;
    z-index: 2;
    display: flex;
    gap: 1.125;
  }
}

.add-favorite {
  position: absolute;
  top: 0.3125rem;
  right: 0.3125rem;
}

.bigStar {
  background: linear-gradient(
    90deg,
    #ec9406de,
    var(--primary-200),
    var(--primary-300),
    var(--accent-100),
    #ec9406de
  );
  background-size: 500% 100%;
  -webkit-background-clip: fill;
  background-clip: fill;
  clip-path: polygon(
    50% 0%,
    61% 70%,
    98% 70%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 70%,
    39% 70%
  );
  animation: colorCycle 10s linear infinite;
}

// for handlers events
.bookmark,
.play--enabled {
  cursor: pointer;
}
.play--disabled {
  cursor: not-allowed;
}
