.col-md-4 {
  margin-bottom: 2rem;
}
.header__logo {
  @include flex-center;
  img {
    height: 4rem;
  }
}
h1.header__logo-title {
  font-size: 1.6rem;
  @include gradient-text-background;
  animation: colorCycle 5s linear infinite; //should include the gradient-text-background
}
.btn {
  &:hover {
    @include gradient-text-background;
    animation: colorCycle 5s linear infinite, shadow-cycle 5s infinite;
  }
}
.form-control.me-2:focus {
  animation: shadow-cycle 5s infinite;
}
.dropdown-item:focus {
  background-color: #004f63;
}
