@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

:root {
  /* Font Size */
  --fs-logo: 3.6rem;

  /* Colors */
  --white: #fff;
  --item-color: hsl(219, 100%, 95%);

  /* Gradients */
  --on-surface: linear-gradient(
    90deg,
    rgba(224, 232, 230, 0.2),
    rgba(255, 255, 255, 0.15)
  );

  --logo-color: linear-gradient(
    90deg,
    #ffffffa1,
    #ffffffd8,
    #ffffffa1,
    #ffffffb6,
    #ffffffba
  );

  /* Transitions */
  --transition-short: 250ms;
  --transition-long: 500ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans";
  box-sizing: border-box;
  background-color: #141A1E;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #D8D4CF; /* to modify make as variable*/
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(49, 48, 54, 0.421);
  border-radius: 8px;
}

/* properties handled with js */
.hidden {
  display: none;
}

/* animations */
@keyframes colorCycle {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* container of the content */
.container {
    width: 100%;
    min-height: 100vh; 
    max-height: 100vh; 
    position: static;
    bottom: 0;
    left: 0;
    overflow-y: overlay;
    transition: filter var(--transition-long);
    
}

.container.active {
  filter: blur(5px);
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.search-wrapper::before,
.load-more::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: 24px;
  border-inline-end-color: transparent;
  animation: loading 0.5s linear infinite;
  display: none;
}

.search-wrapper::before {
  position: absolute;
  top: 10px;
  right: 55px;
}