@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

:root {
  /* Font Size */
  --fs-logo: 3.6rem;
  --fs-heading: 4.8rem;
  --fs-title-lg: 3rem;
  --fs-list-title: 2.3rem;
  --fs-title: 2rem;
  --fs-list-item: 1.8rem;
  --fs-medium: 1.7rem;
  --fs-regular: 1.6rem;
  --fs-badge: 1.7rem;
  --fs-copyright: 1.2rem;

  /* Font weight */
  --fw-smaller: 200;
  --fw-small: 300;
  --fw-md: 400;
  --fw-bold: 600;
  --fw-bolder: 700;

  /* Colors */
  --white: #fff;
  --black: #000;

  --text-color: #d8d4cf;
  --heading-color: #e8e6e3;
  --input-color-shdw: rgba(255, 255, 255, 0.8);
  --list-nm-color: rgb(149, 148, 153);
  --list-item-active: rgba(229, 238, 255, 0.5);
  --item-color: hsl(219, 100%, 95%);
  --bg-nav: rgba(18, 23, 26, 0.9);
  --modal-bg: #141a1e;
  --poster-bg: hsla(250, 6%, 20%, 1);
  --badge-color: rgba(29, 28, 28, 0.6);
  --btn-color: hsla(350, 67%, 39%, 0.9);
  --btn-color-active: hsla(349, 69%, 51%, 1);
  --btn-color-load: hsla(349, 69%, 51%, 1);

  /* Gradients */
  --bg-header: linear-gradient(
    to right,
    rgba(18, 23, 26, 0.8),
    rgba(18, 23, 26, 0.4),
    rgba(18, 23, 26, 0.8)
  );

  --on-surface: linear-gradient(
    90deg,
    rgba(224, 232, 230, 0.2),
    rgba(255, 255, 255, 0.15)
  );
  --shadow-container: linear-gradient(
    180deg,
    rgba(18, 23, 26, 0),
    rgba(18, 23, 26, 0.9)
  );
  --shadow-cover: linear-gradient(
    90deg,
    rgba(18, 23, 26, 8),
    rgba(18, 23, 26, 0.4),
    rgba(18, 23, 26, 0.1)
  );
  --shadow-backdrop: linear-gradient(
    0deg,
    hsla(250, 11%, 13%, 0.9),
    hsla(250, 11%, 13%, 0.8)
  );

  --logo-color: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.6)
  );

  --top-rated: linear-gradient(
    45deg,
    rgba(0, 172, 193, 0.8),
    rgba(83, 75, 174, 0.8),
    rgba(236, 148, 6, 0.8),
    rgba(255, 217, 0, 0.8),
    rgba(0, 172, 193, 0.8)
  );
  /* Transitions */
  --transition-short: 250ms;
  --transition-long: 500ms;
}

/* ------------ */
/* Global Reset */
/* ------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans";
  box-sizing: border-box;
  background-color: #141a1e;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--text-color);
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(49, 48, 54, 0.421);
  border-radius: 8px;
}

/* ---------- */
/* animations */
/* ---------- */
@keyframes colorCycle {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* ------------ */
/* Js triggers */
/* ------------ */
.load-more.loading::before {
  display: block;
}
.search-wrapper.searching::before {
  display: block;
}
.hidden {
  display: none;
}

/* container of the content */
.container {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  position: static;
  bottom: 0;
  left: 0;
  overflow-y: overlay;
  transition: filter var(--transition-long);
}

.container.active {
  filter: blur(5px);
}

/* ---------- */
/* typography */
/* ---------- */

.heading {
  font-size: var(--fs-heading);
  color: var(--heading-color);
  line-height: 1.2;
}

.title {
  color: var(--item-color);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  letter-spacing: 0.5px;

  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block: 8px 4px;
}

.list-title {
  color: var(--white);
  font-size: var(--fs-list-title);
  font-weight: var(--fw-bold);
  margin-block-end: 0.5rem;
}

.title-wrapper {
  margin-block-end: 24px;
  margin-inline-start: 3.6rem;
}

.title-large {
  text-transform: capitalize;
  color: var(--white);
  font-size: var(--fs-title-lg);
  font-weight: var(--fw-bold);
  letter-spacing: 0.5px;
}
